.navbar-header a.navbar-brand {
    color: darkmagenta;
}
a.bo-api {
    color: darkmagenta;
}
hr {
    height: 3px;
    background-color: darkmagenta;
}
blockquote {
    padding: 0px 20px;
}
blockquote ul {
    padding-left: 0;
}
blockquote ul li {
    list-style-type: none;
}
blockquote ul li a {
    font-size: 14px;
}
blockquote p {
    font-size: 14px;
    font-style: italic;
}
